includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor
        - tests
        - images
        - locale
    tmpDir: .phpstan
    parallel:
        maximumNumberOfProcesses: 2